<%- include('./includes/head.ejs') %>
  <div class="container-fluid pt-4">
    <div class="d-flex justify-content-center">
      <h1>Welcome!</h1>
    </div>
    <div class="d-flex justify-content-center">
      <a href="/login" class="btn btn-primary d-block">
        Dashboard
      </a>
    </div>
  </div>
  <%- include('./includes/end.ejs') %>