<%- include('./includes/head.ejs') %>
  <div class="row mt-5">
    <div class="col-md-4 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Login</h1>
        <%- include('./includes/warn.ejs')%>
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" id="username" name="username" class="form-control" placeholder="Enter Username" />
            </div>
            <br>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" />
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
          </form>
          <p class="lead mt-4">
            No Account? <a href="/register">Register</a>
          </p>
      </div>
    </div>
  </div>
  <%- include('./includes/end.ejs') %>